In [ ]:
# list are dynamic and not fixed ,mutable
point = [5,6]
point[0],point[1]

list

In [ ]:

type(point)

list

In [6]:
#tuples are immutable ,memory optimized
tuple = (5,6)
tuple[0]

5

In [7]:
type(tuple)

tuple

In [ ]:
#tuple are immutable and can not be assigned another value,fix in size
tuple[1]=8

TypeError: 'tuple' object does not support item assignment

In [2]:
point_3d = (5,8,10)

In [14]:
def find_pe_and_pb(price, eps,book_value):
    pe = price/eps
    pb = price/book_value
    return [pe, pb]

In [15]:
val= find_pe_and_pb(100, 2, 4)

In [16]:
val[0]

50.0

In [17]:
val[1]

25.0

In [ ]:
#another way
def find_pe_and_pb(price, eps,book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [19]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [20]:
pe_ratio

50.0

In [22]:
pb_ratio

25.0

In [23]:
#list of tuples
contacts = [('rachel',8887771111),('monica',9195675555), ('joey',3332229999)]

In [32]:
for contact in contacts:
    if contact[0] == "monica":
        print(contact[1])

9195675555

In [37]:
for i in contacts:
    if i[0] == "joey":
        print(i[0],i[1])

joey 3332229999

In [38]:
d ={
    'rachel' : 8887771111,
    'monica' : 9191562555,
    'joey'   : 3332229999
}
d

{'rachel': 8887771111, 'monica': 9191562555, 'joey': 3332229999}

In [39]:
type(d)

dict

In [40]:
d['joey']

3332229999

In [41]:
d['satya']

KeyError: 'satya'

In [ ]:
d.get('satya', -1)

8

In [45]:
d.get('rachel',-1)

8887771111

In [47]:
d['rachel'] = 1010101
d

{'rachel': 1010101, 'monica': 9191562555, 'joey': 3332229999}

In [48]:
d['satya']= 124421
d

{'rachel': 1010101, 'monica': 9191562555, 'joey': 3332229999, 'satya': 124421}

In [49]:
d

{'rachel': 1010101, 'monica': 9191562555, 'joey': 3332229999, 'satya': 124421}

In [50]:
del d['satya']
d

{'rachel': 1010101, 'monica': 9191562555, 'joey': 3332229999}

In [51]:
'abdul' in d

False

In [52]:
'joey' in d

True

In [ ]:
#nested dictionary
contact_dict = {
    'rachel' : { 'phone' : 1234, 'address': '1 blue st'},
    'joey': {'phone': 999, 'address':'7 newton blvd'}
}

In [56]:
d

{'rachel': 1010101, 'monica': 9191562555, 'joey': 3332229999}

In [55]:
for name in d:
    print(name)

rachel
monica
joey

In [57]:
for name,number in d.items():
    print(name,number)

rachel 1010101
monica 9191562555
joey 3332229999

In [58]:
d.keys()

dict_keys(['rachel', 'monica', 'joey'])

In [59]:
d.values()

dict_values([1010101, 9191562555, 3332229999])

In [61]:
apple_revenues = {
    "USA":{
        'iphone':20,
        'ipad':12,
        'macbook':8
    },
    'China':{
        'iphone':17,
        'ipad':9,
        'macbook':6
    },
    'India':{
        'iphone': 9,
        'ipad': 4,
        'macbook': 2
    }
}

In [68]:
for country, product_data in apple_revenues.items():
    for product, rev in product_data.items():
        print(f"{country} {product} : {rev} million $")

USA iphone : 20 million $
USA ipad : 12 million $
USA macbook : 8 million $
China iphone : 17 million $
China ipad : 9 million $
China macbook : 6 million $
India iphone : 9 million $
India ipad : 4 million $
India macbook : 2 million $

In [74]:
for c, pd in apple_revenues.items():
    for p, rev in pd.items():
        print(f"{c} {p} : {rev} million $")

USA iphone : 20 million $
USA ipad : 12 million $
USA macbook : 8 million $
China iphone : 17 million $
China ipad : 9 million $
China macbook : 6 million $
India iphone : 9 million $
India ipad : 4 million $
India macbook : 2 million $